.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content-section {
  margin: 1em;
}

.container > div {
  display: inline-block;
  display: -moz-inline-box;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  margin-left: 1%;
  width: 100%;
  text-align: center;
}

.containerTitle > div {
  display: inline-block;
  display: -moz-inline-box;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  margin-left: 1%;
  width: 100%;
  text-align: center;
}

.container > div:first-child {
  margin-left: 0;
}

.edj-item{
  display: inline-block;
}

.degree {
  color: #555;
  font-weight: bold;
  width: 20%;
}

.date {
  text-align: left;
  color: #555;
  font-weight: bold;
  width: 5%;
}

.menu {
  display: table;
  width:50%;
  table-layout: fixed;
}
.menuitem {
  max-width:20px;
  display: table-cell;
  text-align: left;
  flex-flow: row wrap;
}

.edj-date {
  width: 25%;
}

.edj-row {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

<<<<<<< HEAD
.calendarinfo {
  color: white;
}

.container {
  position: relative;
}

.textarea {
  width: 55%;
  text-align: center;

  display: block;
  margin-left: auto;
  margin-right: auto;

  font-size: calc(1px + 2vmin);

  outline: none;
  min-height: 100px;
  padding:0;
  box-shadow: none;
  display: block;
  border: 2px solid black;
  overflow: hidden;
  transition: height 0.2s ease;


}

.textarea--ghost {
  opacity: 0.3;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  visibility: hidden;
  position: absolute;
  top: 0;
}

.courseInfo-form{
  padding: 20px;
  text-align: center;
  margin: auto;
}

.courseInfo-form .form-group{
  padding-bottom: 15px;
}

.courseInfo-form label{
  display: block;
}

.courseInfo-form input{
  padding: 8px;
  width:50%;
  text-align: center;
}

=======
.timeTable {
  color: #555;
  font-weight: bold;
  width: 20%;
}

.time-item{
  display: inline-block;
}

.time-row {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
>>>>>>> e4887614af6ce08b0012675cd894f70df6e58285
